.user-profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  &__avatar {
    width: 130px;
    height: 130px;
    border-radius: 100%;
  }

  &__info {
    flex: 1;
  }

  &__full-name {
    margin-bottom: 8px;
  }

  &__position {
    margin-bottom: 8px;
  }
}


.contact {
  display: flex;
  flex-direction: row;

  &__label {
    width: 100px;
    font-weight: 600;
  }
}
