<div class="user-profile">
  <div class="user-profile__side">
    <ng-container *ngIf="profile$ | async as profile">
      <app-user-profile-card [profile]="profile"></app-user-profile-card>
    </ng-container>
  </div>
  <div class="user-profile__content">
    <ng-container *ngIf="currentUserId !== (profile$ | async)?.id">
      <div class="mat-title">Общие интересы</div>
      <div class="profile-attributes">
        <ng-container *ngFor="let attribute of (profile$ | async)?.profileLaces">
          <mat-card class="profile-attribute">
            <div class="mat-title profile-attribute-title">
              {{attribute?.category}}
            </div>
            <div class="mat-subtitle">
              {{attribute?.profileAttributeValue}}
            </div>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>

    <div class="mat-title">Интересы пользователя</div>
    <div class="profile-attributes">
      <ng-container *ngFor="let attribute of profileAttributes$ | async">
        <mat-card class="profile-attribute">
          <div class="mat-title profile-attribute-title">
            {{attribute?.category?.name}}
            <mat-icon (click)="navigateToSearch(attribute)">
              search
            </mat-icon>
          </div>
          <div class="mat-subtitle">
            {{attribute?.externalValue ?? attribute.dictionaryElement?.name}}
          </div>
        </mat-card>
      </ng-container>

      <mat-card class="profile-attribute profile-attribute_add-button" (click)="openCreateAttributeForm()" *ngIf="currentUserId === (profile$ | async)?.id">
        <mat-icon>add</mat-icon>
        <div class="mat-title">
          Добавить
        </div>
      </mat-card>
    </div>
  </div>
</div>
